* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Archivo;
  font-weight: 100;
  color: #282826;
  background: #ebf1e7;
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

div {
  display: flex;
}

button {
  color: inherit;
  line-height: normal;
  font: inherit;
  cursor: pointer;
  border: unset;
  width: auto;
  overflow: visible;
  background: unset;
  display: flex;
}
